ICP4_node-red/twitter_flow.txt
[{"id":"168795bd.68e38a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e8011e.45828f","type":"inject","z":"168795bd.68e38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["2036334d.3db70c"]]},{"id":"2036334d.3db70c","type":"openweathermap","z":"168795bd.68e38a","name":"Weather Update","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":422.50000762939453,"y":181.00000190734863,"wires":[["e94e852c.8c34b8","31dfec8b.c9ca44","d0e2be41.29edd"]]},{"id":"e94e852c.8c34b8","type":"debug","z":"168795bd.68e38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":662.1000366210938,"y":181,"wires":[]},{"id":"31dfec8b.c9ca44","type":"ui_text_input","z":"168795bd.68e38a","name":"","label":"Weather","group":"27fde569.69632a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":525.1000747680664,"y":396.00000381469727,"wires":[[]]},{"id":"b2e613ca.20e21","type":"twitter out","z":"168795bd.68e38a","twitter":"","name":"Tweet","x":767.1000595092773,"y":323.00000381469727,"wires":[]},{"id":"d0e2be41.29edd","type":"function","z":"168795bd.68e38a","name":"","func":"\nmsg.payload = msg.payload.description + \"Farid\" + \"ID 1\";\nreturn msg;","outputs":1,"noerr":0,"x":605.1000366210938,"y":327,"wires":[["b2e613ca.20e21"]]},{"id":"27fde569.69632a","type":"ui_group","name":"Group 1","tab":"6276618d.0f5e7","order":1,"disp":true,"width":6},{"id":"6276618d.0f5e7","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1}]