ICP4/Date_time_code.txt
[{"id":"18d83a9a.0ef1a5","type":"inject","z":"171a2cc7.438193","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["89eb5d57.7f803"]]},{"id":"725bc43f.1ad2dc","type":"debug","z":"171a2cc7.438193","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":120,"wires":[]},{"id":"89eb5d57.7f803","type":"function","z":"171a2cc7.438193","name":"Return the date","func":"\n//create a Date object from payload\nvar date = new Date (msg.payload);\n\n//change the payload to be a formated date string\nmsg.payload = date.toString();\n\n//return the msg so that it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["725bc43f.1ad2dc"]]}]