ICP4/date_flow.txt
[{"id":"9cb539be.fa4cb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10fb83a3.fca2ac","type":"inject","z":"9cb539be.fa4cb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["d096cd6.187ad3"]]},{"id":"f4c7e57a.f4d278","type":"debug","z":"9cb539be.fa4cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":120,"wires":[]},{"id":"d096cd6.187ad3","type":"function","z":"9cb539be.fa4cb8","name":"return the date","func":"\nvar date = new Date(msg.payload);\n\nmsg.payload = date.toString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["f4c7e57a.f4d278"]]}]