ICP4/gmail_flow.txt
[{"id":"58dada6c.423ea4","type":"inject","z":"562246c2.e28408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192,"y":137,"wires":[["23ab9c50.f3fc34"]]},{"id":"23ab9c50.f3fc34","type":"openweathermap","z":"562246c2.e28408","name":"Weather Update","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":414.50000762939453,"y":138.00000190734863,"wires":[["3376faa6.b046d6","b1956532.445568","79eafda5.f03e94"]]},{"id":"3376faa6.b046d6","type":"debug","z":"562246c2.e28408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":654.1000366210938,"y":138,"wires":[]},{"id":"b1956532.445568","type":"ui_text_input","z":"562246c2.e28408","name":"","label":"Weather","group":"27fde569.69632a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":517.1000747680664,"y":353.00000381469727,"wires":[[]]},{"id":"79eafda5.f03e94","type":"function","z":"562246c2.e28408","name":"","func":"\nmsg.payload = msg.payload.description + \"Farid\";\nreturn msg;","outputs":1,"noerr":0,"x":597.1000366210938,"y":284,"wires":[["318caaa1.ea2266"]]},{"id":"318caaa1.ea2266","type":"e-mail","z":"562246c2.e28408","server":"smtp.gmail.com","port":"465","secure":true,"name":"farid7666@gmail.com","dname":"gmail","x":773.1000366210938,"y":361,"wires":[]},{"id":"27fde569.69632a","type":"ui_group","name":"Group 1","tab":"6276618d.0f5e7","order":1,"disp":true,"width":6},{"id":"6276618d.0f5e7","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1}]