ICP4_Zarin/weather_twitter_code.txt
[{"id":"c60e5739.8bd468","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e2fd162.b8314e8","type":"inject","z":"c60e5739.8bd468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["d0fcf609.2ce8b8"]]},{"id":"d0fcf609.2ce8b8","type":"openweathermap","z":"c60e5739.8bd468","name":"Weather map","wtype":"current","lon":"","lat":"","city":"KANSAS CITY","country":"United States","language":"en","x":440,"y":140,"wires":[["751a0ecf.aa287","381e6a27.6400f6","af623802.0fe2a8"]]},{"id":"751a0ecf.aa287","type":"debug","z":"c60e5739.8bd468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":140,"wires":[]},{"id":"381e6a27.6400f6","type":"ui_text_input","z":"c60e5739.8bd468","name":"Weather","label":"","group":"1469af69.c9e8f1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":660,"y":500,"wires":[[]]},{"id":"869a4197.5c8f7","type":"twitter out","z":"c60e5739.8bd468","twitter":"","name":"Tweet","x":890,"y":300,"wires":[]},{"id":"af623802.0fe2a8","type":"function","z":"c60e5739.8bd468","name":"Return to twitter","func":"\n\n\n//change the payload to be a formated date string\nmsg.payload = msg.payload.description+\"Zarin\"+\"ID is 10\";\n\n//return the msg so that it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["869a4197.5c8f7"]]},{"id":"1469af69.c9e8f1","type":"ui_group","z":"","name":"Group 1","tab":"5f7a9e72.17714","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f7a9e72.17714","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1}]