ICP4_Zarin/Zarin/weather_gmail_code.txt
[{"id":"abf86d3b.7f47d","type":"inject","z":"6d0a9292.8cc56c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["14f7f5d2.90639a"]]},{"id":"14f7f5d2.90639a","type":"openweathermap","z":"6d0a9292.8cc56c","name":"Weather map","wtype":"current","lon":"","lat":"","city":"KANSAS CITY","country":"United States","language":"en","x":380,"y":140,"wires":[["61380df2.e52534","e9dd4544.82a338","7e04d7ef.7b5c78"]]},{"id":"61380df2.e52534","type":"debug","z":"6d0a9292.8cc56c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":140,"wires":[]},{"id":"e9dd4544.82a338","type":"ui_text_input","z":"6d0a9292.8cc56c","name":"Weather","label":"","group":"1469af69.c9e8f1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":600,"y":500,"wires":[[]]},{"id":"7e04d7ef.7b5c78","type":"function","z":"6d0a9292.8cc56c","name":"Return to email","func":"\n\n\n//change the payload to be a formated date string\nmsg.payload = msg.payload.description+\"Zarin\"+\"ID is 10\";\n\n//return the msg so that it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["737684f6.0cd2cc"]]},{"id":"737684f6.0cd2cc","type":"e-mail","z":"6d0a9292.8cc56c","server":"smtp.gmail.com","port":"465","secure":true,"name":"sandhie177@gmail.com","dname":"gmail","x":810,"y":300,"wires":[]},{"id":"1469af69.c9e8f1","type":"ui_group","z":"","name":"Group 1","tab":"5f7a9e72.17714","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f7a9e72.17714","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1}]