ICP6_Zarin/Source-code_traffic_signal_node-red.txt
[{"id":"a04aa1e8.a92b7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dabec583.0ada88","type":"arduino out","z":"a04aa1e8.a92b7","name":"","pin":"9","state":"OUTPUT","arduino":"569a206c.49511","x":830,"y":60,"wires":[]},{"id":"cbb1d0eb.3f607","type":"inject","z":"a04aa1e8.a92b7","name":"start","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":".5","x":150,"y":160,"wires":[["ab839dd6.91928"]]},{"id":"26227475.fb554c","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = !context.level || false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["dabec583.0ada88"]]},{"id":"762cf4e8.1b0b2c","type":"arduino out","z":"a04aa1e8.a92b7","name":"","pin":"11","state":"OUTPUT","arduino":"569a206c.49511","x":850,"y":180,"wires":[]},{"id":"80b8a7f9.df4518","type":"arduino out","z":"a04aa1e8.a92b7","name":"","pin":"13","state":"OUTPUT","arduino":"569a206c.49511","x":890,"y":280,"wires":[]},{"id":"ebc45f8.b1c24a","type":"switch","z":"a04aa1e8.a92b7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":220,"wires":[["26227475.fb554c","cf29bf34.0772a","92823383.b54c2"],["2e49dfec.b72c7","dc99f2a.47edb1","8fcf41b7.30d11"],["49dfab7c.72efc4","9a86c454.d70fb8","182db165.6b539f"]]},{"id":"ab839dd6.91928","type":"function","z":"a04aa1e8.a92b7","name":"f","func":"for(var i = 0; i<3; i++)\n{\n    node.send({payload:i})\n   \n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":260,"wires":[["7493e8d3.96b3a8"]]},{"id":"2e49dfec.b72c7","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = !context.level || false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["762cf4e8.1b0b2c"]]},{"id":"49dfab7c.72efc4","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = !context.level || false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["80b8a7f9.df4518"]]},{"id":"7493e8d3.96b3a8","type":"delay","z":"a04aa1e8.a92b7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":340,"wires":[["ebc45f8.b1c24a"]]},{"id":"cf29bf34.0772a","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["762cf4e8.1b0b2c"]]},{"id":"92823383.b54c2","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level =false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["80b8a7f9.df4518"]]},{"id":"660dbd07.3be864","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[[]]},{"id":"dc99f2a.47edb1","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["dabec583.0ada88"]]},{"id":"8fcf41b7.30d11","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["80b8a7f9.df4518"]]},{"id":"9a86c454.d70fb8","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["dabec583.0ada88"]]},{"id":"182db165.6b539f","type":"function","z":"a04aa1e8.a92b7","name":"Toggle output on input","func":"context.level = false;\n\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":523,"wires":[["762cf4e8.1b0b2c"]]},{"id":"569a206c.49511","type":"arduino-board","z":"","device":"COM6"}]